@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Pretendard;
    src: url('../font/Pretendard-Regular.ttf');
}

@layer base {
    html {
        font-family: 'Pretendard';
    }

    body {
        margin: 0;
        @apply bg-custom-blue;
    }

    .hidden {
        display: none;
    }

    .footer {
        @apply py-[10px] pl-[30px] text-black;
    }

    .pc .footer {
        @apply absolute bottom-0;
    }

    .main {
        @apply bg-custom-blue pb-[20px] relative h-[100vh];
    }

    .pc .content {
        max-width: 600px;
        @apply mx-[auto];
    }

    .content {
        @apply w-full;
    }

    .header {
        @apply border-none;
    }

    .header h1 {
        @apply text-white;
    }

    .nav {
        @apply text-white;
    }

    .dateContainer {
        @apply pt-[120px] px-[35px];
    }

    .shareBtn {
        @apply absolute right-[0px] top-[-40px] bg-white;
    }

    .calendarIcon {
        @apply w-[18px] h-[18px] inline-block text-white;
    }
}
