@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Pretendard;
    src: url('../font/Pretendard-Regular.ttf');
}

@layer base {
    html {
        font-family: 'Pretendard';
    }

    body {
        margin: 0;
    }

    .hidden {
        display: none;
    }

    .pc .main {
        max-width: 420px;
        min-height: 800px;
        margin: 80px auto 0;
        position: relative;
        @apply rounded-[26px] overflow-hidden;
    }

    .mobile .header {
        @apply border-none;
    }

    .mobile .header h1 {
        @apply text-white;
    }

    .pc .header {
        @apply border;
    }

    .pc .header h1 {
        @apply text-black;
    }

    .pc .dateContainer {
        @apply pt-[70px];
    }

    .dateContainer {
        @apply pt-[150px] px-[35px];
    }

    .shareBtn {
        @apply absolute right-[20px] top-[20px];
    }

    .calendarIcon {
        @apply w-[18px] h-[18px] inline-block text-white;
    }
}
